

		<script type="text/javascript" src="/public/js/vendor/jqplot/jquery.min.js"></script>
		<script type="text/javascript" src="/public/js/vendor/jquery.imagemapster.js"></script>
		<script>
			$('#ImageMap_1_2023348822').mapster({
			    fillOpacity: 0.5,
			    render_highlight: {
			        fillColor: '2aff00',
			        stroke: true,
			        altImage: 'examples/images/usa_map_720_alt_4.jpg'
			    },
			    render_select: {
			        fillColor: 'ff000c',
			        stroke: true,
			        altImage: 'examples/images/usa_map_720_alt_5.jpg'
			    },
			    fadeInterval: 50,
			    mapKey: 'data-state',
			    areas: [
			    {
			        key: 'TX',
			        selected: true
			    },
			    {
			        key: 'ME',
			        selected: true
			    },
			    {
			        key: 'WA',
			        staticState: false
			    },
			    {
			        key: 'OR',
			        isSelectable: false
			    }]
			});
		</script>
		<map name="ImageMap_1_2023348822" id="ImageMap_1_2023348822">
			<area href="/wiki/Bezirk_Mitte" shape="poly" coords="102,87,100,94,104,94,108,101,104,104,114,124,126,129,131,123,152,123,152,111,141,107,135,80" alt="Bezirk Mitte" title="Bezirk Mitte">
			<area href="/wiki/Bezirk_Friedrichshain-Kreuzberg" shape="poly" coords="130,123,129,136,151,137,150,131,159,134,163,129,176,137,177,137,170,127,171,113,163,113,157,107,149,108,152,113,152,122" alt="Bezirk Friedrichshain-Kreuzberg" title="Bezirk Friedrichshain-Kreuzberg">
			<area href="/wiki/Bezirk_Pankow" shape="poly" coords="140,27,125,40,130,56,120,67,144,107,162,109,169,104,168,95,181,92,175,68,186,60,181,53,191,27,177,17,177,5,162,14,170,21,149,34" alt="Bezirk Pankow" title="Bezirk Pankow">
			<area href="/wiki/Bezirk_Charlottenburg-Wilmersdorf" shape="poly" coords="50,148,51,129,60,127,65,108,90,105,86,93,104,94,109,101,104,102,104,113,108,111,115,125,115,143,105,144,105,149" alt="Bezirk Charlottenburg-Wilmersdorf" title="Bezirk Charlottenburg-Wilmersdorf">
			<area href="/wiki/Bezirk_Spandau" shape="poly" coords="20,143,17,162,28,169,51,153,51,128,59,126,67,110,90,107,88,93,76,92,70,85,63,69,40,59,24,68,26,72,35,71,35,91,26,89,24,115,41,122" alt="Bezirk Spandau" title="Bezirk Spandau">
			<area href="/wiki/Bezirk_Steglitz-Zehlendorf" shape="poly" coords="10,184,50,149,115,150,131,179,103,199,96,185,86,194,75,193,75,182,40,194,39,201,26,198" alt="Bezirk Steglitz-Zehlendorf" title="Bezirk Steglitz-Zehlendorf">
			<area href="/wiki/Bezirk_Tempelhof-Sch%C3%B6neberg" shape="poly" coords="115,124,112,140,107,143,107,149,113,152,129,176,115,190,134,214,149,214,153,205,149,190,140,187,150,155,140,138,128,137" alt="Bezirk Tempelhof-Schöneberg" title="Bezirk Tempelhof-Schöneberg">
			<area href="/wiki/Bezirk_Neuk%C3%B6lln" shape="poly" coords="150,130,170,144,172,155,165,155,165,160,189,179,191,196,174,199,168,181,146,189,140,187,149,155,143,135,150,137" alt="Bezirk Neukölln" title="Bezirk Neukölln">
			<area href="/wiki/Bezirk_Treptow-K%C3%B6penick" shape="poly" coords="164,130,157,133,169,144,173,155,166,156,166,162,190,181,193,198,243,219,238,235,247,241,291,165,243,141,230,148,216,140,195,149" alt="Bezirk Treptow-Köpenick" title="Bezirk Treptow-Köpenick">
			<area href="/wiki/Bezirk_Marzahn-Hellersdorf" shape="poly" coords="216,75,192,90,196,102,189,103,190,118,199,118,205,145,230,148,249,107,235,106,235,102,239,101,239,98,219,92" alt="Bezirk Marzahn-Hellersdorf" title="Bezirk Marzahn-Hellersdorf">
			<area href="/wiki/Bezirk_Lichtenberg" shape="poly" coords="183,62,173,72,179,93,169,96,168,104,163,108,171,119,170,127,179,142,197,149,204,143,196,118,189,117,189,103,196,100,192,88,211,77,199,66" alt="Bezirk Lichtenberg" title="Bezirk Lichtenberg">
			<area href="/wiki/Bezirk_Reinickendorf" shape="poly" coords="66,39,56,55,63,69,69,87,81,95,100,95,104,88,116,83,128,87,136,80,121,66,123,65,131,51,127,41,101,38,102,15,90,15,90,31,82,31,81,39" alt="Bezirk Reinickendorf" title="Bezirk Reinickendorf">
			<area href="/wiki/Brandenburg" shape="rect" coords="0,0,429,429" alt="Brandenburg" title="Brandenburg">
		</map>
