<h3 id="signin">Sign In</h3>
<div style="text-align:center; padding:0.5em 0 0 0">
	<div class="smallSignIn google" data-gapiattached="true">
		<a href="/auth/google">
			<span class="gicon" style="background-position: 8px center;"></span>
		</a>
	</div>
	<div class="smallSignIn linkedin">
		<a href="/auth/linkedin">
			<span class="licon"></span>
		</a>
	</div>
	<div class="smallSignIn windowsLive">
		<a href="/auth/windowslive">
			<span class="wicon" style="background-position: 0px center;"></span>
		</a>
	</div>
</div>
