{>layout-headless/}
{<content}
<style type="text/css">
	body{line-height:100%}
	label{padding:1px}
	.appTop{width:100%;height:45px;text-align:center;}
	#app-logo{background:url('/images/payprd_applogo.png') no-repeat top left; width: 120px; height:40px; display:inline-block;}
</style>
<div class="purple appTop">
	<div id='app-logo' onClick="location.href='/'"></div>
</div>
<div class="col-med inputRow">
	{>app_login/}
</div>
<br />
<div class="col-med inputRow" style="line-height:100%">
	<form action="/login" method="post">
			<div class="label">
				<label id="labelUsername" for="inputUsername">Username</label>
			</div>
			<div>
				<div class="cell">
					<input id="inputUsername" type="text" name="username" style="padding: 2px 2px;" />
				</div>
			</div>
			<div class="label">
				<label id="labelPassword" for="inputPassword">Password</label>
			</div>
			<div>
				<div class="cell">
					<input id="inputPassword" type="password" name="password" style="padding: 3px 3px;" />
				</div>
			</div>
		<div class="clear"></div>
		<div class="cell" style="text-align:center; padding: 0.2em 0 0 0">
			<input id="submitLogin" type="submit" value="Log In" class="formButton" style="padding: 2px 2px;">
		</div>
	</form>
</div>
{/content}
