{>layout/}
{<content}
<div class="col-full">
	<div>
		<h3>Disclaimer</h3>
		<div>
			<p>

Following is a Disclaimer in German.<br />
<br />
Thanks to eRecht24 for their support.<br />
<br />
Vielen Dank an eRecht24 f&uuml;r die Unterst&uuml;zung.<br />

<p><strong>Haftung f&uuml;r Inhalte</strong></p>
    <p>Die Inhalte unserer Seiten wurden mit gr&ouml;ßter Sorgfalt erstellt. 
      F&uuml;r die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte 
      k&ouml;nnen wir jedoch keine Gew&auml;hr &uuml;bernehmen. Als Diensteanbieter sind wir gem&auml;ß § 7 Abs.1 TMG f&uuml;r 
      eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. 
      Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht 
      verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu 
      &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige 
      T&auml;tigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der 
      Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon 
      unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem 
      Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei 
      Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte 
      umgehend entfernen.</p>
    <p><strong>Haftung f&uuml;r Links</strong></p>
    <p>Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren 
      Inhalte wir keinen Einfluss haben. Deshalb k&ouml;nnen wir f&uuml;r diese 
      fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte 
      der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der 
      Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung 
      auf m&ouml;gliche Rechtsverst&ouml;ße &uuml;berpr&uuml;ft. Rechtswidrige 
      Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente 
      inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte 
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen 
      werden wir derartige Links umgehend entfernen.</p>
    <p><strong>Urheberrecht</strong></p>
    <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten 
      unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und 
      jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bed&uuml;rfen 
      der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads 
      und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen 
      Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, 
      werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche 
      gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. 
      Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
    <p><strong>Datenschutz</strong></p>
    <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, 
      Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung nicht an Dritte weitergegeben.   
    </p>
    <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. 
      bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. 
      Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht 
      m&ouml;glich. </p>
    <p>Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten 
      durch Dritte zur &uuml;bersendung von nicht ausdr&uuml;cklich angeforderter 
      Werbung und Informationsmaterialien wird hiermit ausdr&uuml;cklich widersprochen. 
      Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte 
      im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, 
      vor.</p><br />
<p><i>Quellen: <a href="http://www.e-recht24.de/muster-disclaimer.htm" target="_blank">Disclaimer eRecht24</a></i></p>
			</p>
		</div>
	</div>
</div>
{/content}