<style type="text/css">
body{line-height:100%;font-family:Tahoma,Arial,Helvetica,'Nimbus Sans L','Nimbus Sans L Regular',sans-serif;}
label{padding:1px}
.appTop{width:100%;height:45px;text-align:center;}
.purple{background:#800085}
.mailbody{padding:2em 1em 1em 1em}
/*
#app-logo{background:url("https://www.payprd.com/images/payprd_applogo.png") no-repeat top left;
*/
width: 120px;height:40px;display:inline-block;}
</style>
<table style="width:100%; text-align:center;">
	<tbody>
		<tr style="background:#800085">
			<td colspan="2" >
				<img src="/images/payprd_applogo.png" id="app-logo"></img>
			</td>
		</tr>
		<tr>
			<td width="50%" style="text-align:right;">
				<img id="robotimg" src="/images/robot.png">
			</td>
			<td width="50%" style="text-align:left;">
				<h2>Woah.</h2>
				That's not supposed to happen.
				<br /><br />
				(<em><strong>Bad</strong></em> robots!)
				<br /><br />
				Try again later.
			</td>
		</tr>
	</tbody>
</table>

<!--
<tr>
			<td>
				<img id="robotimg" src="/images/robot.png">
			</td>
			<td style="text-align:left;">
				<h2>Woah.</h2>
				That's not supposed to happen.
				<br />
				Try again later.
				
			</td>
		</tr>
-->