{>layout/}
{<content}
<script type="text/javascript" src="js/vendor/jqplot/jquery.min.js"></script>
<script type="text/javascript" src="js/vendor/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="js/vendor/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="js/vendor/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="js/vendor/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="js/vendor/jqplot/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="js/vendor/jqplot/plugins/jqplot.highlighter.min.js"></script>
<link rel="stylesheet" type="text/css" href="js/vendor/jqplot/jquery.jqplot.min.css" />

<div class="row">
	<div class="large-12 columns">
		<div class="large-8 columns small-centered">
			<h3>Track Spending</h3>

			<br />
			<br />
			<div id="chartdiv1" style="height:400px;width:300px; float:left;"></div>

				<script type="text/javascript">
					var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

					function format_graph_date (date){
						var d = new Date(date);
						var curr_date = d.getDate();
						var curr_month = d.getMonth();
						var curr_year = d.getFullYear();
						
						curr_year = curr_year.toString().substr(2,2);
						
						return(curr_date + "-" + m_names[curr_month] 
						+ "-" + curr_year);
					}

					{!
					
					{?trips}
						{#trips}
							
						{/trips}
					{/trips}
					
					var m_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
					
					
					
					var format_graph_date = function(date){
						var d = new Date(date);
						var curr_date = d.getDate();
						var curr_month = d.getMonth();
						var curr_year = d.getFullYear();
						
						curr_year = curr_year.toString().substr(2,2);
						
						document.write(curr_date + "-" + m_names[curr_month] 
						+ "-" + curr_year);
					}
					
					!}
					
					
					
					$.jqplot.config.enablePlugins = true;

					$(document).ready(function(){
					  var line1=[	['23-May-08', 578.55],
									['20-Jun-08', 566.5],
									['25-Jul-08', 480.88],
									['22-Aug-08', 509.84],
									['26-Sep-08', 454.13],
									['24-Oct-08', 379.75],
									['21-Nov-08', 303],
									['26-Dec-08', 308.56],
									['23-Jan-09', 299.14],
									['20-Feb-09', 346.51],
									['20-Mar-09', 325.99],
									['24-Apr-09', 386.15]
								];

					  var plot1 = $.jqplot('chartdiv1', [line1], {
						  title:'Price report history',
						  axes:{
							xaxis:{
							  renderer:$.jqplot.DateAxisRenderer,
							  tickOptions:{
								formatString:'%b&nbsp;%#d'
							  } 
							},
							yaxis:{
							  tickOptions:{
								formatString:'$%.0f'
								}
							}
						  },
						  highlighter: {
							show: true,
							sizeAdjust: 7.5
						  },
						  cursor: {
							show: false
						  },
						  legend: {
										show: true,
										location: 'sw',
										xoffset: '12px',
										yoffset: '12px'
									}
					  });
					});

				</script>
			<div style="clear:both"></div>
			<br />
			<br />
			<br />
		</div>
	</div>
</div>
{/content}