{?trips}
	{#trips}
		<tr border="1">
			<td>
				<a href="/uploads/{user_id}/{imagechecksum}.jpg">
					<div class="tripThumb" style="height:85px; width:85px; padding:2px; background: #eeeeee">
						<img class="tripThumb" src="/uploads/{user_id}/_thumbs/{imagechecksum}.jpg" />
					</div>
				</a>
			</td>
			<td>{#tags}<a class="taglink" href="my?tag={.}">{.}</a>&nbsp;{/tags}</td>
			
			<td width="7%">{?date}{date}{:else} ? <em>(Added: {add_date})</em>{/date}</td>

			<td class="tripLocation">{?brand}<a class="taglink" href="my?tag={brand}">{brand}</a><br /><br />{/brand}{?pos_address}{pos_address}{:else} ? {/pos_address}</td>
			
			<td align='right' width="13%" ><span class="tripTotal">{?total}{total}{:else} ? {/total}</span></td>
			
			<td width="36%">
				{#items}<span class="tripItem"><span class="itemName">{name}</span><span class="itemPrice">{price}</span><span class="lineActions"><a class="btn" data-toggle="modal" href="#myModal"><i class="foundicon-edit"></i></a></span></span><br />{/items}

				{!
				{#lines}<span class="tripItem"><span class="lineRaw">{.}</span><span class="lineActions"><a class="btn" data-toggle="modal" href="#myModal"><i class="foundicon-edit"></i></a></span></span><br />{/lines}
				!}
			</td>
		<tr/>
	{/trips}
{/trips}
