
.i-left:before { content: '\e813'; } /* '' */
.i-twitter:before { content: '\e83c'; } /* '' */
.i-up:before { content: '\e80f'; } /* '' */
.i-down:before { content: '\e80e'; } /* '' */
.i-flight:before { content: '\e816'; } /* '' */
.i-briefcase:before { content: '\e801'; } /* '' */
.i-road:before { content: '\e814'; } /* '' */
.i-ticket:before { content: '\e803'; } /* '' */
.i-credit:before { content: '\e804'; } /* '' */
.i-windows:before { content: '\e802'; } /* '' */
.i-search:before { content: '\e808'; } /* '' */
.i-star:before { content: '\e845'; } /* '' */
.i-star-empty:before { content: '\e846'; } /* '' */
.i-lock:before { content: '\e80a'; } /* '' */
.i-unlock:before { content: '\e80b'; } /* '' */
.i-cloud:before { content: '\e82d'; } /* '' */
.i-place:before { content: '\e844'; } /* '' */
.i-trash:before { content: '\e843'; } /* '' */
.i-trophy:before { content: '\e842'; } /* '' */
.i-mail:before { content: '\e809'; } /* '' */
.i-heart:before { content: '\e800'; } /* '' */
.i-picture:before { content: '\e807'; } /* '' */
.i-photo:before { content: '\e806'; } /* '' */
.i-ok:before { content: '\e80d'; } /* '' */
.i-cancel:before { content: '\e80c'; } /* '' */
.i-plus:before { content: '\e817'; } /* '' */
.i-home:before { content: '\e811'; } /* '' */
.i-right:before { content: '\e810'; } /* '' */
.i-tag:before { content: '\e815'; } /* '' */
.i-flag:before { content: '\e839'; } /* '' */
.i-edit:before { content: '\e81b'; } /* '' */
.i-edit-doc:before { content: '\e819'; } /* '' */
.i-alert:before { content: '\e81c'; } /* '' */
.i-compass:before { content: '\e838'; } /* '' */
.i-add-doc:before { content: '\e81a'; } /* '' */
.i-rss:before { content: '\e82f'; } /* '' */
.i-cog:before { content: '\e820'; } /* '' */
.i-spanner:before { content: '\e81f'; } /* '' */
.i-cart:before { content: '\e822'; } /* '' */
.i-calendar:before { content: '\e823'; } /* '' */
.i-clock:before { content: '\e818'; } /* '' */
.i-bulb:before { content: '\e824'; } /* '' */
.i-block:before { content: '\e835'; } /* '' */
.i-rotate:before { content: '\e830'; } /* '' */
.i-globe:before { content: '\e825'; } /* '' */
.i-leaf:before { content: '\e81e'; } /* '' */
.i-barcode:before { content: '\e841'; } /* '' */
.i-gift:before { content: '\e827'; } /* '' */
.i-chart:before { content: '\e828'; } /* '' */
.i-clipboard:before { content: '\e829'; } /* '' */
.i-fb:before { content: '\e82c'; } /* '' */
.i-foursquare:before { content: '\e805'; } /* '' */
.i-gplus:before { content: '\e82a'; } /* '' */
.i-linkedin:before { content: '\e82b'; } /* '' */
.i-site:before { content: '\e812'; } /* '' */