body{font-family: Tahoma, Geneva, sans-serif}
.taglink, .inlineLink{color:#B000B5;}
.taglink:hover, .inlineLink:hover{text-decoration:underline;color:#b333b8;}
.purple{background-color:#b000b5;display:block;}
.whiteText{color:white;}
.whiteText a{color:white;}
.boldText{font-weight:bold;}
@font-face{font-family:'Linear';src:url('/fonts/Linear/linear.otf') format('opentype');font-weight:normal;font-style:normal;}
.mainlogo{font-weight:bold;font-size:2.2em;}
#mainlogo {background-image: url('payprd_logo.png') no-repeat top left; height:82px; width:242px; display:block;}
.umsBox{margin-top:0.1em;text-align:right;font-size:0.95em;}
.umsBox i{display:inline-block;vertical-align:middle;}
#linkMy:hover, #linkLogout:hover{display:inline-block;text-decoration:underline;}
#linkMy,#linkLogout{line-height:2em;}
#linkMy{font-weight:bold;}
.actionBarItem,h1,h2,h3{font-family:'Linear';font-weight:normal;font-style:normal;}
.actionBarItem,.actionBarItem a{font-size:1.2em;text-decoration:none;}
.actionBarItem{border-right:1px solid white;padding:0.3em 0 0.3em 0.3em;font-size:1.2em;display:block;float:left;width:32%;}
div.actionBar div:last-child{border-right:0;}
@media only screen and (max-width:767px){
	.actionBarItem{border-right:0;border-bottom:1px dotted white;width:100%;}
	div.actionBar div:last-child{border-bottom:0;}
}
.actionBarItem i{display:inline-block;}
div.actionBar a{font-family: "Linear";line-height: 0.9em;margin-left: 0.3em;}
div.actionBar i{margin-left: 0.3em;margin-top: 0.1em;}
span.actionlink{position:absolute;width:100%;height:28px;top:0;left: 0;/* edit: added z-index */
z-index: 1;/* edit: fixes overlap error in IE7/8, 
make sure you have an empty gif 
background-image: url('empty.gif'); */
cursor:hand;
}
.topBar{border-bottom: 1px solid white;}