/* styles for /my alternative layout */

.trip {
	float: left;
	width: 33%;
	min-width: 185px;
}

.tripMeta {
	max-width: 100%;
}

.tripMeta{
	width:100%;
}

.tripDetails,.tripImage,.tripActions{
	width: 100%;
}

.tripTags{
	width: 100%;
	text-align:center;
}

.tripItems {
	width: 100%;
	min-width: 150px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.tripItems {
	min-width: 0;
	width: 0%;
}

.tripSeparator {
	max-width: 0;
	clear: none;
	border-bottom: 0;
}