<style type="text/css">
body{line-height:100%}
label{padding:1px}
.appTop{width:100%;height:45px;text-align:center;}
.purple{background:#800085}
.mailbody{padding:2em 1em 1em 1em}
#app-logo{background:url("https://www.payprd.com/images/payprd_applogo.png") no-repeat top left;
width: 120px;height:40px;display:inline-block;}
</style>
<table style="width:500px; text-align:center;" >
	<tr style="background:#800085">
		<td>
			<img src="https://www.payprd.com/images/payprd_applogo.png" id="app-logo"></img>
		</td>
	</tr>
</table>
<p class="mailbody">
<br /><br />
Hello,
<br /><br />
An account was created at payprd with this email used in the registration.
<br /><br />
The username was:
<br /><br />
'+username+'
<br /><br />
To activate the account, use this link:
<br /><br />
<a href="'+activationlink+'">'+activationlink+'</a>
<br /><br />
Bye for now!
<br /><br />
The payprd robots.
<br /><br />
<br /><br />
</p>